.info {
  display: flex;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  a {
    display: block;
    margin-left: 5px;
    font-size: 1.2rem;
  }
  .far.fa-edit:hover {
    color: $primary;
  }
  .far.fa-trash-alt:hover {
    color: #ff6b6b;
  }
}

form.video__add {
  border: none;
  padding: 0;
  position: relative;
  margin: 50px auto;
  textarea {
    display: block;
    width: 100%;
    outline: none;
    background-color: transparent;
    color: #fff;
    height: 75px;
    &::placeholder {
      color: #fff;
      font-weight: 700;
    }
  }
  button {
    position: absolute;
    right: 0;
    bottom: -20px;
  }
}

.video__comment {
  max-width: 1000px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  position: relative;
  a > img {
    width: 40px;
    height: 40px;
  }
  .text {
    margin: 0 0 10px;
    flex-grow: 1;
    background-color: #495057;
    padding: 5px 7px 10px;
    margin-top: 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #fff;
    .text--user {
      font-size: 0.9rem;
      margin-bottom: 3px;
      font-weight: 700; 
      a {
        color: #f8f9fa;
      }
      span {
        font-size: 0.5rem;
        color: #dee2e6;
        line-height: 1.5;
      }
    }
  }
  .fa-trash {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    opacity: 0.3;
    &:hover {
      opacity: 1;
      color: #ff6b6b;
    }
  }
}  

