extends ../base

block content 
  if errMsg 
    p=errMsg
  form(method='POST')
    input(type="password",name="oldPW" ,placeholder="Old Password", required)
    input(type="password",name="newPW" ,placeholder="New Password", required)
    input(type="password",name="newPWConfirm" ,placeholder="New Password Confirm", required)
    input(type="submit", value="Change Password")