extends ../base
include ../mixins/video.pug

block content 
  div.profile__data
    if user.avatarUrl === ""
      img.header__avatar(src="/uploads/avatar/basic_profile.png").avatar
    else
      img(onerror="this.src='/uploads/avatar/NoImage.png'").header__avatar(src="/"+user.avatarUrl).avatar
    //- img(src="/"+user.avatarUrl).avatar
    h3=user.name
  div.video-grid
    each video in user.videos 
      +video(video) 
    else 
      span.empty__message No videos found
  